* {
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: #67a2e0;
    padding: 30px;
}

h2 {
    margin-top: 20px;
}

.headerText {
    text-align: center;
    color: white;
}

body {
    background-color: lightgray;
}

.container {
    background-color: white;
    margin: 50px 200px;
    padding: 15px;
}

.questionBox {
    background-color: lightgray;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.cornerButton {
    position: fixed;
    background-color: #67a2e0;
    bottom: 10px;
    right: 20px;
}

.cornerButton p {
    font-size: 24px;
}

.box {
    margin: 10px 5px;   
    border: 6px solid blue;
    background-color: lightyellow;
    padding: 20px;
    display: block;
    width: 20%;
}

.headerText.one {
    border: 4px solid red;
}

