
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background: lightskyblue;
      display: grid;
      grid-template-columns: 220px 1fr;
      height: 100vh;
    }

    
    .menu {
      background: #000;
      color: #fff;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .menu h2 {
      margin: 0;
      font-size: 20px;
      border-bottom: 2px solid #333;
      padding-bottom: 10px;
    }

    .menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .menu ul li {
      font-size: 18px;
      cursor: pointer;
    }

    
    .dashboard {
      background: rgb(6, 6, 235);
      color: white;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .dashboard h1 {
      text-align: center;
      margin: 0;
    }

    
    .stats-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }

    .box {
      background: white;
      color: black;
      padding: 20px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      border-left: 5px solid blue;
    }

    
    .cards-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    .card {
      background: rgb(0, 0, 0);
      padding: 20px;
      border-radius: 8px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }
