.top-bar {
  background: blue;
  color: white;
  padding: 15px;
  font-size: 22px;
  text-align: center;
}

.mainLayout {
  display: grid;
  grid-template-columns: 200px 1fr;
  min-height: 100vh;
  background-color: #e9e9e9;
}

.sidebar {
  background: black;
  color: white;
  padding: 20px;
  font-size: 18px;
}

.menu {
    font-size: 24px;
}

.sidebar p {
  margin: 12px 0;
}

.content {
  padding: 20px;
  display: grid;
  gap: 10px;
}

.row {
  display: grid;
  gap: 8px;
}

.row-4 {
  grid-template-columns: repeat(4, 1fr);
  height: 40px;
}

.row-4 .box {
    border-left: 5px solid blue;
}

.row-3 {
  grid-template-columns: repeat(3, 1fr);
  height: 40px;
}

.box {
  background: white;
  padding: 25px;
  text-align: center;
}