.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.flexItem{
    background-color: yellow;
    padding: 15px;
    border: 3px solid red;
    flex: 1;
    text-align: center;
    font-size:24px;
    height:200px;
    width:200px;
}
 


