.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    align-content:center;
}
/*wrap-values: no wrap  ,wrap,wrap-reverse 
align-content : flex-start,flex-end,center,space-between,space-around,stretch
values of justify-content
*/
.flexItem{
    background-color: yellow;
    padding: 15px;
    border: 3px solid red;
    flex: 1;
    text-align: center;
    font-size:24px;
    height:200px;
    width:200px;
}

.flexItem:nth-child(1){
    order:1;
    align-self: center;
}
.flexItem:ntgh-child(6){
    order:-1;
    align-self: flex-end;
}
 



