.gridContainer{
    border:1px solid red;
    height:90vh;
    display:grid;
    /*
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px;
    grid-template-columns:100PX, repeat(4,100px);

    */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,100px);
}
.item{
    color:red;
    border:1px solid;
    background-color: yellow;
    padding:30px 40px;
}