.gridContainer{
    border:1px solid red;
    height:90vh;
    display:grid;
    /*
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px;
    grid-template-columns:100PX, repeat(4,100px);

    */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,100px);

    /*
    row-gap:10px;
    column-gap:10px;
    */
    gap: 10px;
    justify-content: space-around;
   /* justify-content: space-evenly; */
     align-content: center; 
}
.item{
    color:red;
    border:1px solid;
    background-color: rgb(255, 255, 4);
    padding:30px 30px;
}